flask>=3.0.3
flask-basicauth==0.2.0
fastapi>=0.90.1
litellm
openai>=1.30.0
tiktoken
python-dotenv>=1.0.1
GitPython==3.1.43
docker==7.1.0
psutil
requests>=2.32.2
beautifulsoup4==4.12.3
a2wsgi
fastmcp
markdown==3.7
lxml_html_clean==0.3.1
diskcache
langchain-anthropic
langchain-community
langchain-openai
nest_asyncio>=1.6.0
