accelerate>=0.31.0
ansio==0.0.1
beautifulsoup4==4.12.3
blendmodes
clean-fid
diffusers>=0.27.2
diskcache
docker==7.1.0
duckduckgo-search==6.1.12
einops
elevenlabs>=1.5.0
facexlib
faiss-cpu==1.8.0.post1
fastapi>=0.90.1
flask[async]==3.0.3
flask-basicauth==0.2.0
GitPython==3.1.43
gradio==3.41.2
inflection
inputimeout==1.0.4
jsonmerge
kornia
langchain-anthropic==0.1.19
langchain-community==0.2.7
langchain-google-genai==1.0.7
langchain-groq==0.1.6
langchain-huggingface==0.0.3
langchain-mistralai==0.1.8
langchain-ollama==0.1.3
langchain-openai==0.1.15
lark
lxml_html_clean==0.3.1
markdown==3.7
newspaper3k==0.2.8
numpy
omegaconf
open-clip-torch
openai>=1.30.0
openai-whisper==20240930
paramiko==3.5.0
peft>=0.10.0
pillow>=10.3.0
pillow-avif-plugin==1.4.3
piexif
protobuf>=3.20.3,<5
psutil
pypdf==4.3.1
python-dotenv>=1.0.1
pytorch_lightning
requests>=2.32.2
resize-right
safetensors
scikit-image>=0.19
sentence-transformers==3.0.1
stripe>=9.6.0
tiktoken==0.8.0
tomesd
torch>=2.3.0
torchdiffeq
torchsde
transformers>=4.42.0
unstructured==0.15.13
unstructured-client==0.25.9
webcolors==24.6.0
litellm
a2wsgi
